* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(20, 18, 18);
    color: #dedede;
    height: 100vh;
    background-image: url(../images/6e5c40657ec969d850ff246afcd4510e.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 31%;
}

/* font style */
.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(222, 200, 0);
}

/* global rules */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

/* start slider */
.icon {
    width: 6rem;
    height: 100vh;
    border: 2px solid rgb(48, 47, 47);

}

.i-parent {
    background-color: rgb(36, 36, 36);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-parent i {
    font-size: 35px;
}

/* end slider */
/* start landing */
.landing {
    display: flex;
}

/* start nav */
.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nav {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.642);
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li:not(:last-child) {
    padding: 0 30px;

}

.logo a {
    color: #dedede;
    font-weight: bold;
    font-size: 23px;
}

.nav ul li:last-child {
    color: rgb(222, 200, 0);
}

/* start upper content */
.home {
    position: relative;
}

.upper {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 30px;
    margin-right: 30px;

}

.left {
    position: relative;
    top: 18%;
    width: 15%;

}

.left h2 span {
    color: rgb(138, 136, 136);
}

.left h3 {}

.left p {
    color: #d4d4d4;
    font-weight: lighter;
    font-size: 13px;
}

.right {
    position: relative;
    top: 59px;
    width: 35%;
    right: 44px;
    padding: 20px;
}

.right h1 {
    font-size: 64px;
    margin-top: 2px;
}

.right h1 span {
    font-size: 12px;
}

.right p {
    font-weight: lighter;
    margin-top: -12px;
}

/* yellow-icons */
.yellow-icons {
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 15rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(222, 200, 0);
    -webkit-border-radius: 40px 0px 0px 40px;
    -moz-border-radius: 40px 0px 0px 40px;
    -ms-border-radius: 40px 0px 0px 40px;
    -o-border-radius: 40px 0px 0px 40px;
    padding: 15px 0px;
    font-size: 25px;
    color: white;
}

.lower {
    display: flex;
    height: 17rem;
    position: relative;
    bottom: -147px;
    background-color: rgba(72, 72, 74, 0.623);
}

.image img {
    max-width: 100%;
}

.oranges {
    display: flex;
}

.content {
    padding: 20px 0 20px 20px;
}

.content h4 {
    margin: 10px 0;
}

.content p {
    font-weight: lighter;
    font-size: 12px;
    margin-bottom: 30px;
}

.oranges .content i {
    left: 28%;
    position: absolute;
    font-size: 40px;
    margin: 0px;
}

.price {
    padding: 20px;
    width: 70%;
    margin-top: 10px;
}

.price h1 {
    font-size: 20px;
    font-weight: 500;
}

.price del {
    margin-left: 23px;
    font-size: 14px;
    color: #cdcdcd;
}

.price button {
    outline: none;
    border: none;
    width: 96px;
    height: 37px;
    border-radius: 2px;
    color: white;
    background-color: rgb(222, 200, 0);

}

.melon {
    display: flex;
}

.melon .content i {
    right: 21%;
    position: absolute;
    font-size: 40px;
    margin: -21px;
}